
@font-face {
    font-family: 'textile';
    src: url(font/textile-regular.ttf);
}
html {
    background: black;
    font-family: 'textile';
    color: white;
    
}
.content {
    background-color: whitesmoke;
    width: 600px;
    border-radius: 10px;
    margin: 0px 100px 100px 100px
}
.recipe-list {
    color: whitesmoke;
    padding: 20px; 
    width: 120px;
    margin: 20px;
    
}

.button {
    height: 150px;
    width: 510px;
    margin: 5px;
    background-color: black;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    font-family: 'Textile';
    
}
.header {
    text-align: center;
    font-style: italic;
    
}
.footer {
    text-align: center;
    font-size: 40px;
}
.charliecontainer {
    width: auto;
    text-align: end;
    height: 0px;
    margin: 0px 50px 50px 50px;
}

.recipeimgcont {
    text-align: end;
    height: 0px;
    width: auto;
    margin: 50px;
    
}
.recipeimage {
    height: 400px;
    width: auto;
    
    
}